<div>
  <ol>
    <li *ngFor="let questionFlow of parentFlows" class="list-group-item" (click)="$event.stopPropagation();openQuestionFlowForm(questionFlow)"
      [ngClass]="{'active': questionFlow.id === (currentQuestionFlow$ | async)}">
      <div class="row alert" [ngClass]="{'alert-success': questionFlow.completed === true, 'alert-danger': questionFlow.completed === false}">
        <div class="col">
          <p>{{questionFlow.question}}</p>
        </div>
      </div>
      <app-question-flows *ngIf="questionFlow.questionFlows.length > 0 && questionFlow.showSubQuestionOn === questionFlow.answer"
        [parentFlows]="childQuestionFlows(questionFlow)"></app-question-flows>
    </li>
  </ol>
</div>
