<!-- <div>
  <ol>
    <li *ngFor="let questionFlow of parentFlows" [ngClass]="{'active': currentQuestionFlow.id == questionFlow.id}" class="list-group-item"
      (click)="$event.stopPropagation();openQuestionFlowForm(questionFlow)">
      <div *ngIf="questionFlow.completed == true" class="row alert alert-success">
        <div class="col">
          <p>{{questionFlow.question}}</p>
        </div>
      </div>
      <div *ngIf="questionFlow.completed == false" class="row alert alert-danger">
        <div class="col">
          <p>{{questionFlow.question}}</p>
        </div>
      </div>
      <app-question-flows *ngIf="questionFlow.questionFlows.length > 0 && questionFlow.showSubQuestionOn === questionFlow.answer"></app-question-flows>
    </li>
  </ol>
</div>
 -->
<p>QuestionFlows</p>
